<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bokeh includes-->
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-2.2.1.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-2.2.1.min.js"></script>
  </head>
  <body>
    <div>
        <h1>Aufwärmen #{{ metadata.id }}</h1>

        <p><strong>Startzeit:</strong> {{ metadata.timestamp }}<br/>
        <strong>Aktuelle Temperatur:</strong> {{ temp }} °C 
        {% if degrees_per_minute %}        
            <br/> <strong>Erwärmung:</strong> {{ "%.2f"|format(degrees_per_minute) }} °C/min
            <br/> <strong>ETA:</strong> {{ eta }}
        {% endif %}
      </p>

        {% for plot in plots %}
        {% for part in plot %}
            {{part | safe}}
        {% endfor %}
    {% endfor %}
    </div>
  </body>
</html>